.vertical-list-view{
  text-align: left;
  margin: 20px;
}
.vertical-list-view span{
  font-size: 18px;
  font-weight: 500;
}
.card-deck{
  margin: 5px;
}
.card{
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}
.card-body{
  padding: 10px;
}
.text-muted svg{
  width: 20px;
  padding-right: 3px;
}
.card-footer .rating{
  display: inline-flex;
}